<div class="card shadow-sm">
  <div class="card-header">
    <!--begin::Card title-->
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <h2 id="page-heading" data-cy="HotelHeading">
          <span esTranslate="eightStarApp.checkIn.home.title">Hotels</span>
        </h2>
      </div>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
        <button
          class="btn btn-light-primary me-3"
          (click)="load()"
          [disabled]="isLoading"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
        >
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span esTranslate="eightStarApp.checkIn.home.refreshListLabel">Refresh list</span>
        </button>

        <!-- <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-light-primary me-3"
        data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end"
        [routerLink]="['/check-in/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span esTranslate="eightStarApp.checkIn.home.createLabel"> Create a new Check In </span>
      </button>-->
      </div>
    </div>
  </div>

  <es-alert-error></es-alert-error>

  <es-alert></es-alert>
  <div class="card-body py-3">
    <div class="alert alert-warning" id="no-result" *ngIf="checkIns?.length === 0">
      <span esTranslate="eightStarApp.checkIn.home.notFound">No Check Ins found</span>
    </div>

    <!--<div class="table-responsive table-entities" id="entities" *ngIf="checkIns && checkIns.length > 0">-->
    <table
      class="table table-hover table-rounded table-responsive table-entities"
      style="display: inline-block; table-layout: fixed; word-wrap: break-word"
      aria-describedby="page-heading"
    >
      <thead>
        <tr
          esSort
          [(predicate)]="predicate"
          [(ascending)]="ascending"
          (sortChange)="navigateToWithComponentValues()"
          class="text-start text-muted fw-bold fs-7 text-uppercase gs-0"
        >
          <th scope="col" esSortBy="id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.home.checkInNum">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" esSortBy="identityPath">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.identityPath">Identity Path</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>-->
          <th scope="col" esSortBy="status">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="depositAmount">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.depositAmount">Deposit Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="paymentMethod">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.paymentMethod">Payment Method</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="arrivalDate">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.arrivalDate">Arrival Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="departureDate">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.departureDate">Departure Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="roomType">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.roomType">Room Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="smooking">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.smooking">Smooking</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="adults">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.adults">Adults</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="children">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.children">Children</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="notes">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.notes">Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="checkOut.id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.checkOut">Check Out</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="hotel.id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.hotel">Hotel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="customer.id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkIn.customer">Customer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="text-gray-600 font-weight-normal">
        <tr *ngFor="let checkIn of checkIns; trackBy: trackId" data-cy="entityTable">
          <td>
            <a class="text-info" [routerLink]="['/check-in', checkIn.id, 'view']">{{ checkIn.id }}</a>
          </td>
          <!-- <td class="font-size-sm">{{ checkIn.identityPath }}</td> -->
          <td>
            <div *ngIf="checkIn.status === 'CONFIRMED'" class="badge badge-light-success fw-bold">{{ checkIn.status }}</div>
            <div *ngIf="checkIn.status === 'CANCELLED'" class="badge badge-light-danger fw-bold">{{ checkIn.status }}</div>
            <div *ngIf="checkIn.status === 'COMPLETED'" class="badge badge-light-primary fw-bold">{{ checkIn.status }}</div>
          </td>
          <td style="font-size: x-small">{{ checkIn.depositAmount }}</td>
          <td style="font-size: x-small" esTranslate="{{ 'eightStarApp.PaymentMethod.' + checkIn.paymentMethod }}">
            {{ checkIn.paymentMethod }}
          </td>
          <td style="font-size: x-small">{{ checkIn.arrivalDate | formatMediumDatetime | date: 'dd/MM/yyyy' }}</td>
          <td style="font-size: x-small">{{ checkIn.departureDate | formatMediumDatetime | date: 'dd/MM/yyyy' }}</td>
          <td style="font-size: x-small">{{ checkIn.roomType }}</td>
          <td style="font-size: x-small">{{ checkIn.smooking }}</td>
          <td style="font-size: x-small">{{ checkIn.adults }}</td>
          <td style="font-size: x-small">{{ checkIn.children }}</td>
          <td style="font-size: x-small">{{ checkIn.notes }}</td>
          <td style="font-size: x-small">
            <div *ngIf="checkIn.checkOut">
              <a [routerLink]="['/check-out', checkIn.checkOut.id, 'view']">{{ checkIn.checkOut.id }}</a>
            </div>
          </td>
          <td style="font-size: x-small">
            <div *ngIf="checkIn.hotel">
              <a [routerLink]="['/hotel', checkIn.hotel.id, 'view']">{{ checkIn.hotel.id }}</a>
            </div>
          </td>
          <td class="font-weight-lighter">
            <div *ngIf="checkIn.customer">
              <a [routerLink]="['/customer', checkIn.customer.id, 'view']">{{ checkIn.customer.id }}</a>
            </div>
          </td>
          <td class="text-end" style="font-size: x-small">
            <!-- <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/check-in', checkIn.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" esTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/check-in', checkIn.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" esTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(checkIn)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" esTranslate="entity.action.delete">Delete</span>
              </button>
            </div>-->

            <div ngbDropdown>
              <button type="button" class="btn btn-bg-light btn-color-primary" id="dropdownForm1" ngbDropdownToggle>
                <i class="bi bi-boxes fs-1x"></i> Actions
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                <div class="container">
                  <div class="row">
                    <div class="col text-center">
                      <div class="dropdown-divider"></div>
                      <div class="btn-group-vertical">
                        <button
                          type="submit"
                          [routerLink]="['/check-in', checkIn.id, 'view']"
                          class="btn btn-info btn-sm"
                          data-cy="entityDetailsButton"
                        >
                          <fa-icon icon="eye"></fa-icon>
                          <span class="d-none d-md-inline" esTranslate="entity.action.view">View</span>
                        </button>
                        <div class="dropdown-divider"></div>

                        <button
                          type="submit"
                          [routerLink]="['/check-in', checkIn.id, 'edit']"
                          class="btn btn-primary btn-sm"
                          data-cy="entityEditButton"
                        >
                          <fa-icon icon="pencil-alt"></fa-icon>
                          <span class="d-none d-md-inline" esTranslate="entity.action.edit">Edit</span>
                        </button>
                        <div class="dropdown-divider"></div>

                        <button type="submit" (click)="delete(checkIn)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                          <fa-icon icon="times"></fa-icon>
                          <span class="d-none d-md-inline" esTranslate="entity.action.delete">Delete</span>
                        </button>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="checkIns && checkIns.length > 0">
    <div class="d-flex justify-content-center">
      <es-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></es-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
