<div class="card shadow-sm">
  <div class="card-header">
    <!--begin::Card title-->
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <h2 id="page-heading" data-cy="HotelHeading">
          <span esTranslate="eightStarApp.serviceRequest.home.title">Service Requests</span>
        </h2>
      </div>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
        <button
          class="btn btn-light-primary me-3"
          (click)="load()"
          [disabled]="isLoading"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
        >
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span esTranslate="eightStarApp.serviceRequest.home.refreshListLabel">Refresh list</span>
        </button>

        <!--   <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-service-request"
        [routerLink]="['/service-request/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span esTranslate="eightStarApp.serviceRequest.home.createLabel"> Create a new Service Request </span>
      </button> -->
      </div>
    </div>
  </div>

  <es-alert-error></es-alert-error>

  <es-alert></es-alert>
  <div class="card-body py-3">
    <div class="alert alert-warning" id="no-result" *ngIf="serviceRequests?.length === 0">
      <span esTranslate="eightStarApp.serviceRequest.home.notFound">No Service Requests found</span>
    </div>

    <!-- <div class="table-responsive table-entities" id="entities" *ngIf="serviceRequests && serviceRequests.length > 0">-->
    <table
      class="table table-hover table-rounded table-responsive table-entities"
      style="display: inline-block; table-layout: fixed; word-wrap: break-word"
      aria-describedby="page-heading"
    >
      <thead>
        <tr
          esSort
          [(predicate)]="predicate"
          [(ascending)]="ascending"
          (sortChange)="navigateToWithComponentValues()"
          class="text-start text-muted fw-bold fs-7 text-uppercase gs-0"
        >
          <th scope="col" esSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="requestDate">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.requestDate">Request Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="requestThruDate">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.requestThruDate">Request Thru Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="statusRequest">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.statusRequest">Status Request</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!--<th scope="col" esSortBy="rejecttReason">
           <div class="d-flex">
             <span esTranslate="eightStarApp.serviceRequest.rejecttReason">Rejectt Reason</span>
             <fa-icon class="p-1" icon="sort"></fa-icon>
           </div>
         </th>-->
          <th scope="col" esSortBy="requestDescription">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.requestDescription">Request Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="objectNumber">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.objectNumber">Object Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="guest">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.guest">Guest</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="quantity">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.quantity">Quantity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="totalPrice">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.totalPrice">Total Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="parkingAll.id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.parkingAll">Parking All</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="deliveryRequestPlace.id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.deliveryRequestPlace">Delivery Request Place</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="services.id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.services">Services</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="checkIn.id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.serviceRequest.checkIn">Check In</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="text-gray-600 font-weight-normal">
        <tr *ngFor="let serviceRequest of serviceRequests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a class="text-info" [routerLink]="['/service-request', serviceRequest.id, 'view']">{{ serviceRequest.id }}</a>
          </td>
          <td style="font-size: x-small">{{ serviceRequest.requestDate | formatMediumDatetime | date: 'dd/MM/yyyy' }}</td>
          <td style="font-size: x-small">{{ serviceRequest.requestThruDate | formatMediumDatetime | date: 'dd/MM/yyyy' }}</td>
          <td>
            <div *ngIf="serviceRequest.statusRequest === 'OK'" class="badge badge-light-success fw-bold">
              {{ serviceRequest.statusRequest }}
            </div>
            <div *ngIf="serviceRequest.statusRequest === 'NOK'" class="badge badge-light-danger fw-bold">
              {{ serviceRequest.statusRequest }}
            </div>
            <div *ngIf="serviceRequest.statusRequest === 'INPROGRESS'" class="badge badge-light-primary fw-bold">
              {{ serviceRequest.statusRequest }}
            </div>
          </td>
          <!--<td style="font-size: x-small;">{{ serviceRequest.rejecttReason }}</td>-->
          <td style="font-size: x-small">{{ serviceRequest.requestDescription }}</td>
          <td style="font-size: x-small">{{ serviceRequest.objectNumber }}</td>
          <td style="font-size: x-small">{{ serviceRequest.guest }}</td>
          <td style="font-size: x-small">{{ serviceRequest.quantity }}</td>
          <td style="font-size: x-small">{{ serviceRequest.totalPrice }}</td>
          <td style="font-size: x-small">
            <div *ngIf="serviceRequest.parkingAll">
              <a [routerLink]="['/parking-all', serviceRequest.parkingAll.id, 'view']">{{ serviceRequest.parkingAll.name }}</a>
            </div>
          </td>
          <td style="font-size: x-small">
            <div *ngIf="serviceRequest.deliveryRequestPlace">
              <a [routerLink]="['/delivery-request-place', serviceRequest.deliveryRequestPlace.id, 'view']">{{
                serviceRequest.deliveryRequestPlace.id
              }}</a>
            </div>
          </td>
          <td style="font-size: x-small">
            <div *ngIf="serviceRequest.services">
              <a [routerLink]="['/services', serviceRequest.services.id, 'view']">{{ serviceRequest.services.nom }}</a>
            </div>
          </td>
          <td style="font-size: x-small">
            <div *ngIf="serviceRequest.checkIn">
              <a [routerLink]="['/check-in', serviceRequest.checkIn.id, 'view']">{{ serviceRequest.checkIn.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <!--<div class="btn-group">
             <button
               type="submit"
               [routerLink]="['/service-request', serviceRequest.id, 'view']"
               class="btn btn-info btn-sm"
               data-cy="entityDetailsButton"
             >
               <fa-icon icon="eye"></fa-icon>
               <span class="d-none d-md-inline" esTranslate="entity.action.view">View</span>
             </button>

             <button
               type="submit"
               [routerLink]="['/service-request', serviceRequest.id, 'edit']"
               class="btn btn-primary btn-sm"
               data-cy="entityEditButton"
             >
               <fa-icon icon="pencil-alt"></fa-icon>
               <span class="d-none d-md-inline" esTranslate="entity.action.edit">Edit</span>
             </button>

             <button type="submit" (click)="delete(serviceRequest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
               <fa-icon icon="times"></fa-icon>
               <span class="d-none d-md-inline" esTranslate="entity.action.delete">Delete</span>
             </button>
           </div>-->

            <div ngbDropdown>
              <button type="button" class="btn btn-bg-light btn-color-primary" id="dropdownForm1" ngbDropdownToggle>
                <i class="bi bi-boxes fs-1x"></i> Actions
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                <div class="container">
                  <div class="row">
                    <div class="col text-center">
                      <div class="dropdown-divider"></div>
                      <div class="btn-group-vertical">
                        <button
                          type="submit"
                          [routerLink]="['/service-request', serviceRequest.id, 'view']"
                          class="btn btn-info btn-sm"
                          data-cy="entityDetailsButton"
                        >
                          <fa-icon icon="eye"></fa-icon>
                          <span class="d-none d-md-inline" esTranslate="entity.action.view">View</span>
                        </button>
                        <div class="dropdown-divider"></div>

                        <button
                          type="submit"
                          [routerLink]="['/service-request', serviceRequest.id, 'edit']"
                          class="btn btn-primary btn-sm"
                          data-cy="entityEditButton"
                        >
                          <fa-icon icon="pencil-alt"></fa-icon>
                          <span class="d-none d-md-inline" esTranslate="entity.action.edit">Edit</span>
                        </button>
                        <div class="dropdown-divider"></div>

                        <button type="submit" (click)="delete(serviceRequest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                          <fa-icon icon="times"></fa-icon>
                          <span class="d-none d-md-inline" esTranslate="entity.action.delete">Delete</span>
                        </button>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="serviceRequests && serviceRequests.length > 0">
    <div class="d-flex justify-content-center">
      <es-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></es-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
