<!--begin::Menu wrapper-->
<div
  id="kt_app_sidebar_menu_wrapper"
  class="app-sidebar-wrapper hover-scroll-overlay-y my-5"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-rounded menu-sub-indention px-3"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/home" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </div>

    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Modules</span>
      </div>
    </div>

    <!-- Hotels ADMIN -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="active" *esHasAnyAuthority="'ROLE_ADMIN'">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="element-plus" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Hotel Management </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="hotel">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Hotels</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="hotel-services">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Hotel Services</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="services">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">All Services</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="location">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Locations</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="parking-all">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Parkings</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Hotels USER -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="active" *esHasAnyAuthority="'ROLE_USER'">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="element-plus" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Hotel Management </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="check-in">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Check-In </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="service-request">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Service Requests </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Separator -->
    <div class="menu-item" *esHasAnyAuthority="'ROLE_ADMIN'">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Administration</span>
      </div>
    </div>

    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="active" *esHasAnyAuthority="'ROLE_ADMIN'">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="gear" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Configuration </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="admin/user-management">
            <span class="menu-icon">
              <app-keenicon name="user-edit" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title">User Management </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="admin/metrics">
            <span class="menu-icon">
              <app-keenicon name="thermometer" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title">Metrics </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="admin/health">
            <span class="menu-icon">
              <app-keenicon name="check-square" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title">Health </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="admin/configuration">
            <span class="menu-icon">
              <app-keenicon name="wrench" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title">Configuration </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="admin/logs">
            <span class="menu-icon">
              <app-keenicon name="data" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title">Logs </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="admin/docs">
            <span class="menu-icon">
              <app-keenicon name="electricity" class="fs-2"></app-keenicon>
            </span>
            <span class="menu-title">API </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
