<div>
  <h2 id="page-heading" data-cy="HotelServicesHeading">
    <span esTranslate="eightStarApp.hotelServices.home.title">Hotel Services</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span esTranslate="eightStarApp.hotelServices.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hotel-services"
        [routerLink]="['/hotel-services/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span esTranslate="eightStarApp.hotelServices.home.createLabel"> Create a new Hotel Services </span>
      </button>
    </div>
  </h2>

  <es-alert-error></es-alert-error>

  <es-alert></es-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="hotelServices?.length === 0">
    <span esTranslate="eightStarApp.hotelServices.home.notFound">No Hotel Services found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="hotelServices && hotelServices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr esSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" esSortBy="id">
            <div class="d-flex">
              <span esTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="active">
            <div class="d-flex">
              <span esTranslate="eightStarApp.hotelServices.active">Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="forGuest">
            <div class="d-flex">
              <span esTranslate="eightStarApp.hotelServices.forGuest">For Guest</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="servicePrice">
            <div class="d-flex">
              <span esTranslate="eightStarApp.hotelServices.servicePrice">Service Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="hotel.id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.hotelServices.hotel">Hotel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="services.id">
            <div class="d-flex">
              <span esTranslate="eightStarApp.hotelServices.services">Services</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hotelServices of hotelServices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/hotel-services', hotelServices.id, 'view']">{{ hotelServices.id }}</a>
          </td>
          <td>{{ hotelServices.active }}</td>
          <td>{{ hotelServices.forGuest }}</td>
          <td>{{ hotelServices.servicePrice }}</td>
          <td>
            <div *ngIf="hotelServices.hotel">
              <a [routerLink]="['/hotel', hotelServices.hotel.id, 'view']">{{ hotelServices.hotel.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="hotelServices.services">
              <a [routerLink]="['/services', hotelServices.services.id, 'view']">{{ hotelServices.services.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/hotel-services', hotelServices.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" esTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/hotel-services', hotelServices.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" esTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(hotelServices)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" esTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
