<!--begin::details View-->
<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <!--begin::Card header-->
  <div class="card-header cursor-pointer">
    <!--begin::Card title-->
    <div class="card-title m-0">
      <h2 id="es-location-heading" data-cy="LocationCreateUpdateHeading" esTranslate="eightStarApp.location.home.createOrEditLabel">
        Create or edit a Location
      </h2>
    </div>
  </div>
  <!--begin::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <div>
            <es-alert-error></es-alert-error>

            <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
              <label class="form-label" esTranslate="eightStarApp.location.id" for="field_id">Id</label>
              <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            </div>

            <div class="row mb-3">
              <label class="form-label" esTranslate="eightStarApp.location.longitude" for="field_longitude">Longitude</label>
              <input
                type="text"
                class="form-control"
                name="longitude"
                id="field_longitude"
                data-cy="longitude"
                formControlName="longitude"
              />
            </div>

            <div class="row mb-3">
              <label class="form-label" esTranslate="eightStarApp.location.latitude" for="field_latitude">Latitude</label>
              <input type="text" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
            </div>
          </div>

          <div>
            <button
              type="button"
              id="cancel-save"
              data-cy="entityCreateCancelButton"
              class="btn btn-sm btn-secondary align-self-center"
              (click)="previousState()"
            >
              <fa-icon icon="ban"></fa-icon>&nbsp;<span esTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving"
              class="btn btn-sm btn-primary align-self-center"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span esTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
