<div>
  <h2 id="page-heading" data-cy="CheckOutHeading">
    <span esTranslate="eightStarApp.checkOut.home.title">Check Outs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span esTranslate="eightStarApp.checkOut.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-check-out"
        [routerLink]="['/check-out/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span esTranslate="eightStarApp.checkOut.home.createLabel"> Create a new Check Out </span>
      </button>
    </div>
  </h2>

  <es-alert-error></es-alert-error>

  <es-alert></es-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="checkOuts?.length === 0">
    <span esTranslate="eightStarApp.checkOut.home.notFound">No Check Outs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="checkOuts && checkOuts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr esSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" esSortBy="id">
            <div class="d-flex">
              <span esTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="roomClearance">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkOut.roomClearance">Room Clearance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="customerReview">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkOut.customerReview">Customer Review</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="miniBarClearance">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkOut.miniBarClearance">Mini Bar Clearance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="lateCheckOut">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkOut.lateCheckOut">Late Check Out</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="isLate">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkOut.isLate">Is Late</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="isCollectedDepositAmount">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkOut.isCollectedDepositAmount">Is Collected Deposit Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" esSortBy="collectedAmount">
            <div class="d-flex">
              <span esTranslate="eightStarApp.checkOut.collectedAmount">Collected Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let checkOut of checkOuts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/check-out', checkOut.id, 'view']">{{ checkOut.id }}</a>
          </td>
          <td>{{ checkOut.roomClearance }}</td>
          <td>{{ checkOut.customerReview }}</td>
          <td>{{ checkOut.miniBarClearance }}</td>
          <td>{{ checkOut.lateCheckOut | formatMediumDatetime }}</td>
          <td>{{ checkOut.isLate }}</td>
          <td>{{ checkOut.isCollectedDepositAmount }}</td>
          <td>{{ checkOut.collectedAmount }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/check-out', checkOut.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" esTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/check-out', checkOut.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" esTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(checkOut)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" esTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
