<div class="app-container container-xxl">
  <div class="card shadow-sm">
    <div class="card-header">
      <!--begin::Card title-->
      <div class="card-title">
        <div class="d-flex align-items-center position-relative my-1">
          <h2 id="page-heading" data-cy="ServicesHeading">
            <span id="user-management-page-heading" esTranslate="userManagement.home.title" data-cy="userManagementPageHeading">Users</span>
          </h2>
        </div>
      </div>
      <div class="card-toolbar">
        <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
          <button
            type="button"
            class="btn btn-light-primary me-3"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            (click)="(loadAll)"
            [disabled]="isLoading"
          >
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span esTranslate="userManagement.home.refreshListLabel">Refresh list</span>
          </button>

          <button
            type="button"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-light-primary me-3"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            [routerLink]="['./new']"
          >
            <fa-icon icon="plus"></fa-icon> <span esTranslate="userManagement.home.createLabel">Create a new user</span>
          </button>
        </div>
      </div>
    </div>
    <es-alert-error></es-alert-error>

    <es-alert></es-alert>
    <div class="card-body py-4">
      <div class="table-responsive" *ngIf="users">
        <table class="table table-striped" aria-describedby="user-management-page-heading">
          <thead>
            <tr esSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
              <th scope="col" esSortBy="id"><span esTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col" esSortBy="login"><span esTranslate="userManagement.login">Login</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col" esSortBy="email"><span esTranslate="userManagement.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"></th>
              <th scope="col" esSortBy="langKey">
                <span esTranslate="userManagement.langKey">Language</span> <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col"><span esTranslate="userManagement.profiles">Profiles</span></th>
              <th scope="col" esSortBy="createdDate">
                <span esTranslate="userManagement.createdDate">Created date</span> <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col" esSortBy="lastModifiedBy">
                <span esTranslate="userManagement.lastModifiedBy">Modified by</span> <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col" esSortBy="lastModifiedDate">
                <span esTranslate="userManagement.lastModifiedDate">Modified date</span> <fa-icon icon="sort"></fa-icon>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="users">
            <tr *ngFor="let user of users; trackBy: trackIdentity">
              <td>
                <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
              </td>
              <td>{{ user.login }}</td>
              <td>{{ user.email }}</td>
              <td>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="setActive(user, true)"
                  *ngIf="!user.activated"
                  esTranslate="userManagement.deactivated"
                >
                  Deactivated
                </button>
                <button
                  class="btn btn-success btn-sm"
                  (click)="setActive(user, false)"
                  *ngIf="user.activated"
                  [disabled]="!currentAccount || currentAccount.login === user.login"
                  esTranslate="userManagement.activated"
                >
                  Activated
                </button>
              </td>
              <td>{{ user.langKey }}</td>
              <td>
                <div *ngFor="let authority of user.authorities">
                  <span class="badge bg-info">{{ authority }}</span>
                </div>
              </td>
              <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td>{{ user.lastModifiedBy }}</td>
              <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" esTranslate="entity.action.view">View</span>
                  </button>

                  <button
                    type="submit"
                    [routerLink]="['./', user.login, 'edit']"
                    queryParamsHandling="merge"
                    class="btn btn-primary btn-sm"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" esTranslate="entity.action.edit">Edit</span>
                  </button>

                  <button
                    type="button"
                    (click)="deleteUser(user)"
                    class="btn btn-danger btn-sm"
                    [disabled]="!currentAccount || currentAccount.login === user.login"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" esTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="users">
        <div class="d-flex justify-content-center">
          <es-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></es-item-count>
        </div>

        <div class="d-flex justify-content-center">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="page"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="transition()"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
