<!--begin::details View-->
<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <!--begin::Card header-->
  <div class="card-header cursor-pointer">
    <!--begin::Card title-->
    <div class="card-title m-0">
      <h3 class="fw-bold m-0"><span esTranslate="eightStarApp.hotel.detail.title">Hotel</span></h3>
    </div>
    <!--end::Card title-->
    <!--begin::Action-->
    <a [routerLink]="['/hotel', hotel.id, 'edit']" class="btn btn-sm btn-primary align-self-center"
      ><fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span esTranslate="entity.action.edit">Edit</span></a
    >
    <!--end::Action-->
  </div>
  <!--begin::Card header-->
  <!--begin::Card body-->
  <div class="card-body p-9">
    <es-alert-error></es-alert-error>

    <es-alert></es-alert>
    <!--begin::Row-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-semibold text-muted"
        ><span esTranslate="eightStarApp.hotel.hotelId" [ngbTooltip]="'eightStarApp.hotel.help.hotelId' | translate">Hotel Id</span></label
      >
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"
          ><span>{{ hotel.hotelId }}</span></span
        >
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-semibold text-muted"><span esTranslate="eightStarApp.hotel.name">Name</span></label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        <span class="fw-semibold text-gray-800 fs-6"
          ><span>{{ hotel.name }}</span></span
        >
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-semibold text-muted"><span esTranslate="eightStarApp.hotel.description">Description</span> </label>
      <!--end::Label         <span class="badge badge-success">Verified</span>
-->
      <!--begin::Col-->
      <div class="col-lg-8 d-flex align-items-center">
        <span class="fw-bold fs-6 text-gray-800 me-2">{{ hotel.description }}</span>
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-semibold text-muted"><span esTranslate="eightStarApp.hotel.adresse">Adresse</span></label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        <a class="fw-semibold fs-6 text-gray-800 text-hover-primary"
          ><span>{{ hotel.adresse }}</span></a
        >
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-semibold text-muted"><span esTranslate="eightStarApp.hotel.starsNumber">Stars Number</span> </label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"> {{ hotel.starsNumber }}</span>
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-7">
      <!--begin::Label-->
      <label class="col-lg-4 fw-semibold text-muted"><span esTranslate="eightStarApp.hotel.emergencyNumber">Emergency Number</span></label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{ hotel.emergencyNumber }}</span>
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-10">
      <!--begin::Label-->
      <label class="col-lg-4 fw-semibold text-muted"><span esTranslate="eightStarApp.hotel.location">Location</span></label>
      <!--begin::Label-->
      <!--begin::Label-->
      <div class="col-lg-8">
        <span class="fw-semibold fs-6 text-gray-800"
          ><div *ngIf="hotel.location">
            <a [routerLink]="['/location', hotel.location.id, 'view']">{{ hotel.location.id }}</a>
          </div></span
        >
      </div>
      <!--begin::Label-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-10">
      <!--begin::Label-->
      <label class="col-lg-4 fw-semibold text-muted"><span esTranslate="eightStarApp.hotel.user">User</span></label>
      <!--begin::Label-->
      <!--begin::Label-->
      <div class="col-lg-8">
        <span class="fw-semibold fs-6 text-gray-800"
          ><div *ngIf="hotel.location">
            <a [routerLink]="['/admin/user-management', hotel.user.login, 'view']">{{ hotel.user?.login }}</a>
          </div></span
        >
      </div>
      <!--begin::Label-->
    </div>
    <!--end::Input group-->
    <button type="submit" (click)="previousState()" class="btn btn-sm btn-info align-self-center" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span esTranslate="entity.action.back">Back</span>
    </button>
  </div>
  <!--end::Card body-->
</div>
<!--end::details View-->
